POSTGRES_HOST=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
LOVAMAP_DB=""
LOVAMAP_CORE__URL=""
DOMAIN_DATA_PATH=""
JOB_RESULTS_PATH=""
FUSEKI_ADMIN_PASSWORD=""
ENVIRONMENT=""
ASPNETCORE_ENVIRONMENT=""
