GatewayBackend/API/appsettings.json
GatewayBackend/API/appsettings.Development.json
GatewayBackend/API/appsettings.Production.json
GatewayUI/react-ui/node_modules
.env
.env.production
.env.test
*.glb
*.gltf
*.stl